<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-xs-12 align-right">
      <ul class="list-group list-inline list-unstyled text-right">
        <li>
          <a title="Set Locale to English" href="#" (click)="setLocale($event, 'en');">EN</a>
        </li>
        <li>
          <a title="Establecer configuración regional en español" href="#" (click)="setLocale($event,'sp');">ESP</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <header class="panel-heading">
      <h1>{{headerTitle}}</h1>
    </header>
    <div class="panel-body">
      <div *ngIf="movies.length && isLoaded" class="col-xs-12 col-lg-6 text-left">
        <strong>{{'decadeFilter' | translate}}:</strong> {{filterName}}
      </div>
      <nav aria-label="site" *ngIf="movies.length && isLoaded" class="col-xs-12 col-lg-6 text-right">
        <ul class="list-group list-inline list-unstyled button-list">
          <li class="list-group-item" *ngFor="let button of decadeButtons" class="margin-left">
            <app-decade-button
              (change)="filterMoviesByDecade($event)"
              [decade]="button.decade">
            </app-decade-button>
          </li>
        </ul>
      </nav>
      <main id="main" tabindex="-1" *ngIf="!isLoaded" class="col-xs-12 margin-top-20">
          <p class="text-center">{{'loadingMessage' | translate}}</p>
      </main>
      <main id="main" tabindex="-1" *ngIf="isLoaded && error" class="col-xs-12 margin-top-20">
        <p class="alert alert-danger">{{'error.title' | translate}}: {{error}}</p>
      </main>
      <main id="main" tabindex="-1" *ngIf="!loadedMovies.length && isLoaded && !error" class="col-xs-12 margin-top-20">
          <p class="alert alert-info">
              {{'error.noMovieErrorMessage' | translate}}
          </p>
      </main>
      <main *ngIf="loadedMovies.length && isLoaded" class="col-xs-12 margin-top-20">
        <div *ngFor="let movie of loadedMovies" class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-3">
              <img title="{{movie.Title}}" class="img-responsive img-thumbnail" [src]="getNewMoviePosterUrl(movie.Poster)" alt="{{movie.Title}}">
            </div>
            <div class="col-xs-9">
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="border-bottom padding-bottom">{{movie.Title}}</h2>
                </div>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      <p>
                        <span class="rating badge badge-secondary margin-right">{{movie.Rated}}</span>
                        <span class="runtime">{{movie.Runtime}}</span>
                      </p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>{{movie.Released}}</p>
                    </div>
                  </div>
                  <div class="row margin-top">
                    <div class="col-xs-12">
                      <p>{{movie.Plot}}</p>
                    </div>
                  </div>
                  <div class="row margin-top">
                    <div class="col-xs-12 text-right">
                      <a title="View {{movie.Title}} on IMDB" target="_blank" href="https://www.imdb.com/title/{{movie.imdbID}}" class="btn btn-warning">{{'imdbBtnTitle' | translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="panel-footer text-center">
      <p class="small">{{'footerCopyright' | translate}}</p>
    </footer>
  </div>
</div>
