<div class="col-9 mx-auto">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      {{headerTitle}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 text-left">
          <strong>Filter:</strong> {{filterName}}
        </div>
        <div class="col-6 text-right mb-3">
          <button (click)="filterMoviesByDecade(null);" class="btn btn-primary decade mr-2">All</button>
          <button (click)="filterMoviesByDecade('1980');" class="btn btn-primary decade mr-2">1980's</button>
          <button (click)="filterMoviesByDecade('1990');" class="btn btn-primary decade mr-2">1990's</button>
          <button (click)="filterMoviesByDecade('2000');" class="btn btn-primary decade">2000's</button>
        </div>
      </div>
      <div *ngFor="let movie of loadedMovies" class="card mb-4 card-dark">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img title="{{movie.Title}}" class="img-fluid rounded img-thumbnail" [src]="getNewMoviePosterUrl(movie.Poster)" alt="Batman">
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <h2 class="border-bottom pb-2">{{movie.Title}}</h2>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-6 text-left">
                      <p>
                          <span class="rating badge badge-secondary mr-3">{{movie.Rated}}</span>
                          <span class="runtime">{{movie.Runtime}}</span>
                      </p>
                    </div>
                    <div class="col-6 text-right">
                      <p>{{movie.Released}}</p>
                    </div>
                    <div class="col-12">
                      <p>{{movie.Plot}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12 text-right">
                      <a title="View {{movie.Title}} on IMDB" target="_blank" href="https://www.imdb.com/title/{{movie.imdbID}}" class="btn btn-warning">View on IMDB</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <p class="muted-text small">{{footerCopyright}}</p>
    </div>
  </div>
</div>
