$body-bkgd-image: "./assets/images/bkgd.png"

body
  background-image: url($body-bkgd-image)
  background-position: bottom left
  background-repeat: no-repeat
  background-attachment: fixed
  background-color: #000000
  padding: 40px 0
